name: "dry-run (simple)"
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - 'releases/**'
  pull_request:

jobs:
  run:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-20.04
          - macos-latest
          - macos-11.0
          - windows-latest
          
    runs-on: ${{ matrix.os }}
    env:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.2
        with:
          node-version: '12.x'
      - name: build
        run: npm run release
      - name: run
        uses: ./
        with:
          nofail: false
