name: "dry-run (universal)"
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - 'releases/**'
  pull_request:

jobs:
  dryrun:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-20.04
          - ubuntu-18.04
          - ubuntu-16.04
          - macos-latest
          - macos-11.0
          - macos-10.15
          - windows-latest
          - windows-2019

    runs-on: ${{ matrix.os }}
    env:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_VERBOSE }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: '12.x'
      - name: build
        run: npm run release
      - name: run
        uses: ./
        with:
          title: dry run (${{ matrix.os }})
          nofail: false

  conclusion:
    runs-on: ubuntu-latest
    needs: dryrun
    if: always()
    steps:
      - uses: actions/github-script@v3
        id: ghapi
        with:
          result-encoding: string
          script: |
            const jobs = await github.paginate(
              github.actions.listJobsForWorkflowRun,
              {
                owner: context.repo.owner,
                repo: context.repo.repo,
                run_id: context.runId
              }
            )
            return jobs.filter(job => job.conclusion !== null && job.conclusion !== "success")
                       .length > 0 ? 'failure' : 'success'
      - uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          status: ${{ steps.ghapi.outputs.result }}
          title: Dry run conclusion
