name: "test"
on:
  workflow_dispatch:
  push:
  pull_request:
  merge_group:

jobs:
  test-unit:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      contents: read
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b

      - uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: build
        uses: devcontainers/ci@3dcee0e5dada9275fbd8e4d76ee9de43998be886
        with:
          imageName: ghcr.io/${{ github.repository }}/devcontainer
          cacheFrom: ghcr.io/${{ github.repository }}/devcontainer
          push: never
          runCmd: |
            npm ci
            npm test

  test-run:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      contents: read
    env:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b

      - uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: build
        uses: devcontainers/ci@3dcee0e5dada9275fbd8e4d76ee9de43998be886
        with:
          imageName: ghcr.io/${{ github.repository }}/devcontainer
          cacheFrom: ghcr.io/${{ github.repository }}/devcontainer
          push: never
          runCmd: |
            npm ci
            npm run build

      - name: run-1 (send real Discord message!)
        uses: ./
        with:
          title: "Test running"
          description: "testing commit `${{ github.sha }}`"
          nofail: false
          image: "https://user-images.githubusercontent.com/33576079/81886735-69e03f80-95d8-11ea-8828-fa10dda8afd1.png"
          color: 0xFFFFFF
          username: GitHub Actions

      - name: run-2 (send real Discord message!)
        # do not reference as local action! (runs: ./)
        uses: ./
        with:
          nofail: false

      - name: run-3 (send real Discord message!)
        uses: ./
        with:
          status: Cancelled
          title: "test no details"
          nodetail: true
          nofail: false

  conclude:
    runs-on: ubuntu-latest
    needs:
      - test-unit
      - test-run
    if: always()
    permissions:
      actions: read
    steps:
      - uses: sarisia/actions/conclusion@main
        id: ghapi

      - name: report result
        uses: sarisia/actions-status-discord@9d12cc6d7c8d55f9cbe5efa643117f8c7423f4cf
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          status: ${{ steps.ghapi.outputs.conclusion }}
          title: ${{ github.workflow }} - conclusion
